/* Apply background color and font*/
body {
    background-color: #101010;
    font-family: 'Architects Daughter';
}

#content {
    display: none;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

@media (max-width: 1024px) {
    #retry {
        top: 680px;;
    }
}

@media (max-width: 600px) {
    #tictactoe-grid {
        transform: scale(0.55);
        margin-top: -60px;
    }

    h1 {
        margin: 20px 5px;
        font-size: 45px;
    }

    #retry {
        display: absolute;
        top: 500px;
        width: 250px;
    }
}


#tictactoe-grid {
    display: grid;
    background-color: white;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
}

.item {
    border: 5px solid white;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 100px;
}

.item:hover {
    cursor: pointer;
}

#selection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.player {
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    background-color: #101010;
    border: 2px solid white;
    transition-duration: 0.2s;
}

.player:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.retry {
    position: absolute;
    font-size: 30px;
    height: 50px;
    width: 300px;
    color: white;
    background-color: #101010;
    border: 2px solid white;
    transition-duration: 0.2s;
    bottom: 10%;
    text-align: center;
    margin: 0 auto;
    padding: 0 
}

.retry:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition-duration: 0.5s;
}
